.jumbotron{
    background-color: aqua;
    color: black;
    margin-top: 50px;
}
.footer{
    padding: 10px 10px 0 10px;
    background-color: yellow;
    margin-bottom: 0;
    margin-top: 10px;
}
.card-item{
    flex: 1 200px;
}
.btn-reserva{
    width: 100%;
    border-right: 10px;

}
.tab-content{
    padding-top: 10px;
}
