@yellow: #00ffff;
.margenes(@top, @bottom) {
  margin-top: @top;
  margin-bottom: @bottom;
}

.jumbotron {
  background-color: @yellow;
  color: black;
 .margenes(50px, 0px);
}
footer {
  padding: 10px 10px 0 10px;
  background-color: @yellow;
  margin-bottom: 0;
.margenes(10px, 0px);
}
.card-item {
  flex: 1 200px;
}
.btn-reserva {
  width: 100%;
  border-right: 10px;
}
.tab-content {
  padding-top: 10px;
}
